<h1>Bienvenido a Quora! <%= current_user.name %></h1>
<h4>Estas son las preguntas que necesitan de tu sabiduria</h4>
<% if @no_answer_questions.count >= 1 %>
  <% @no_answer_questions.each do |question| %>
    <ul>  
      <li><a href='/write_answer/<%=question.id %>'><%=question.question_sentence %></a></li>
    </ul>
  <% end %>  
<% else %>
  <% @questions.each do |question| %>
    <ul>  
      <li><a href='/write_answer/<%=question.id %>'><%=question.question_sentence %></a></li>
    </ul> 
   <% end %> 
<% end %>    
<br>
<a href='/welcome'>Regresar</a><br>